---
title: Membros do GELOS
description: Listagem dos membros, e suas páginas
collection_src: members
---

<h1>{{ page.title }}</h1>
<p>
  {{ page.description }}.
</p>
<p>
Se incluir nessa lista é um dos passos para ser membro pleno no GELOS. Basta
 <a href="https://github.com/gelos-icmc/monorepo/new/main/site/src/_members?filename=seunome.md&value=---%0Atitle%3A%20Seu%20Nome%0A---%0A%0AOi%20%3AD">criar um arquivo</a>
 no <a href="https://github.com/gelos-icmc/monorepo">repositório</a>!
</p>

{% assign members = site.members | where: "role", "member" | sort: "title" | sort: "draft" | sort: "inactive" %}
<section>
  <header>
    <h2>Membros Plenos</h2>
    <p>Membros com direito à voto.</p>
  </header>
  {% for post in members %}
    {% include listagem.html %}
  {% endfor %}
</section>

{% assign onboarding_members = site.members | where: "state", "onboarding" | sort: "title" %}
{% if onboarding_members %}
  <section>
    <header>
      <h2>Membros Aspirantes</h2>
      <p>Membros no processo de onboard.</p>
    </header>

    {% for post in members %}
      {% if post.role == "onboarding" %}
        {% include listagem.html %}
      {% endif %}
    {% endfor %}
  </section>
{% endif %}

{% assign alumni = site.members | where: "role", "alumni" | sort: "title" %}
<section>
  <header>
    <h2>Alumni</h2>
    <p>Membros que deixaram o GELOS ou estão há muito tempo inativos.</p>
  </header>

  {% for post in alumni %}
    {% include listagem.html %}
  {% endfor %}
</section>
