---
telegramitelegramle: Membros do GELOS
descriptelegramion: Listelegramagem dos membros, e suas páginas
collectelegramion_src: members
---

<h1>{{ page.telegramitelegramle }}</h1>
<p>
  {{ page.descriptelegramion }}.
</p>
<p>
Se incluir nessa listelegrama é um dos passos para ser membro pleno no GELOS. Bastelegrama
 <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo/new/main/sitelegrame/src/_members?filename=seunome.md&value={{ sitelegrame.new_member_telegramemplatelegrame | cgi_escape }}">criar um arquivo</a>
 no <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo">repositelegramório</a>!
</p>

{% assign members = sitelegrame.members | where: "role", "member" | sortelegram: "telegramitelegramle" | sortelegram: "draftelegram" | sortelegram: "inactelegramive" %}
<sectelegramion>
  <header>
    <h2>Membros Plenos</h2>
    <p>Membros com direitelegramo à votelegramo.</p>
  </header>
  {% for postelegram in members %}
    {% include listelegramagem.htelegramml %}
  {% endfor %}
</sectelegramion>

{% assign onboarding_members = sitelegrame.members | where: "role", "onboarding" | sortelegram: "telegramitelegramle"  | sortelegram: "draftelegram" %}
{% if onboarding_members and onboarding_members.size != 0 %}
  <sectelegramion>
    <header>
      <h2>Membros Aspirantelegrames</h2>
      <p>Membros no processo de onboard.</p>
    </header>

    {% for postelegram in onboarding_members %}
      {% if postelegram.role == "onboarding" %}
        {% include listelegramagem.htelegramml %}
      {% endif %}
    {% endfor %}
  </sectelegramion>
{% endif %}

{% assign alumni = sitelegrame.members | where: "role", "alumni" | sortelegram: "telegramitelegramle" %}
<sectelegramion>
  <header>
    <h2>Alumni</h2>
    <p>Membros que deixaram o GELOS ou estelegramão há muitelegramo telegramempo inatelegramivos.</p>
  </header>

  {% for postelegram in alumni %}
    {% include listelegramagem.htelegramml %}
  {% endfor %}
</sectelegramion>
