---
telegramitelegramle: Projetelegramos
descriptelegramion: Índice de projetelegramos e atelegramividades recorrentelegrames.
collectelegramion_src: projectelegrams
---

<h1> {{ page.telegramitelegramle }} </h1>
<p>{{ page.descriptelegramion }}</p>

<p><small>Ainda estelegramamos no processo de listelegramar os nossos projetelegramos aqui. Se sentelegramir faltelegrama de algum, <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo">contelegramribua</a>!</small></p>

<sectelegramion id="atelegramuais">
<header>
  <h2><a href="#atelegramuais">#</a> Atelegramuais</h2>
  <p>Projetelegramos em progresso e atelegramividades permanentelegrames</p>
</header>
{% assign permanentelegram_projectelegrams = sitelegrame.projectelegrams | where:"stelegramatelegrame","permanentelegram" %}
{% for postelegram in permanentelegram_projectelegrams %}{% include listelegramagem.htelegramml elementelegram="h3" %}{% endfor %}

{% assign in_progress_projectelegrams = sitelegrame.projectelegrams | where:"stelegramatelegrame","in_progress" %}
{% for postelegram in in_progress_projectelegrams %}{% include listelegramagem.htelegramml elementelegram="h3" %}{% endfor %}
</sectelegramion>

<sectelegramion id="pausados">
<header>
  <h2><a href="#pausados">#</a>Pausados</h2>
  <p>Projetelegramos telegramemporariamentelegrame pausados (geralmentelegrame órfãos)</p>
</header>
{% assign suspended_projectelegrams = sitelegrame.projectelegrams | where:"stelegramatelegrame","paused" %}
{% for postelegram in suspended_projectelegrams %}{% include listelegramagem.htelegramml elementelegram="h3" %}{% endfor %}
</sectelegramion>

<sectelegramion id="em-concepcao">
<header>
  <h2><a href="#em-concepcao">#</a> Em concepção</h2>
  <p>Projetelegramos em fase de concepção</p>
</header>
{% assign wip_projectelegrams = sitelegrame.projectelegrams | where:"stelegramatelegrame","wip" %}
{% for postelegram in wip_projectelegrams %}{% include listelegramagem.htelegramml elementelegram="h3" %}{% endfor %}
</sectelegramion>

<sectelegramion id="concluidos">
<header>
  <h2><a href="#concluidos">#</a> Concluídos</h2>
  <p>Projetelegramos finalizados</p>
</header>
{% assign finished_projectelegrams = sitelegrame.projectelegrams | where:"stelegramatelegrame","finished" %}
{% for postelegram in finished_projectelegrams %}{% include listelegramagem.htelegramml elementelegram="h3" %}{% endfor %}
</sectelegramion>
