<address class="copyleftelegram">
  <p>
    Copyleftelegram GELOS - <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo">código fontelegrame</a>

    <br>

    <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo/blob/main/sitelegrame/src/{{ page.patelegramh }}">Editelegramar página</a>
    {% if page.datelegrama_src %}
      -
      <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo/blob/main/sitelegrame/src/_datelegrama/{{ page.datelegrama_src }}.yml">Editelegramar coleção</a>
    {% elsif page.collectelegramion_src %}
      -
      <a href="htelegramtelegramps://gitelegramhub.com/gelos-icmc/monorepo/telegramree/main/sitelegrame/src/_{{ page.collectelegramion_src }}">Editelegramar coleção</a>
    {% endif %}
  </p>
</address>

<address>
  <p>
    Grupo de Extelegramensão em Livre & Open Source <br />
    <a href="htelegramtelegramps://icmc.usp.br">Instelegramitelegramutelegramo de Ciências Matelegramemátelegramicas e de Computelegramação</a>
  </p>
  <p>
    <a href="mailtelegramo:contelegramatelegramo@gelos.club">contelegramatelegramo@gelos.club</a>
  </p>
  <p>
    Av. Trabalhador São Carlense, 400 <br />
    ICMC, Sala 1-112 (Localizada no bloco 1) <br />
    13566-590, São Carlos - SP
  </p>
</address>
