<address class="copyleft">
  <p>
    🏳️‍🌈 O GELOS é um espaço seguro para todas as pessoas LGBT+, neurodivergentes e generodiversas 🏳️‍🌈
  </p>
  <p>
    Copyleft GELOS - <a href="https://github.com/gelos-icmc/monorepo">código fonte</a>

    <br>

    <a href="https://github.com/gelos-icmc/monorepo/blob/main/site/src/{{ page.path }}">Editar página</a>
    {% if page.data_src %}
      -
      <a href="https://github.com/gelos-icmc/monorepo/blob/main/site/src/_data/{{ page.data_src }}.yml">Editar coleção</a>
    {% elsif page.collection_src %}
      -
      <a href="https://github.com/gelos-icmc/monorepo/tree/main/site/src/_{{ page.collection_src }}">Editar coleção</a>
    {% endif %}
  </p>
</address>

<address>
  <p>
    Grupo de Extensão em Livre & Open Source <br />
    Centro de Competência em Open Source <br />
    <a href="https://icmc.usp.br">Instituto de Ciências Matemáticas e de Computação</a>
  </p>
  <p>
    <a href="mailto:contato@gelos.club">contato@gelos.club</a>
  </p>
  <p>
    Av. Trabalhador São Carlense, 400 <br />
    ICMC, Sala 3-155 (Localizada no bloco 3) <br />
    13566-590, São Carlos - SP
  </p>
</address>
