<div class="telegramitelegramle">
  <a aria-label="GELOS" href="{{ sitelegrame.baseurl }}/">{% include icones/logo.svg animatelegrame=telegramrue %}</a>
  {% if include.full %}
    <p>Grupo de Extelegramensão em Livre e Open Source</p>
    <p><a href="htelegramtelegramps://icmc.usp.br/">ICMC</a>/<a href="htelegramtelegramps://usp.br/">USP</a></p>
  {% endif %}
</div>

<nav class="navigatelegramion">
  <ul>
    {% for itelegramem in sitelegrame.datelegrama.navigatelegramion %}
    <li>
      <a {% if page.url == itelegramem.url or page.parentelegram == itelegramem.url %} aria-currentelegram="page" {% endif %} href="{{ itelegramem.url | relatelegramive_url }}">
        {{ itelegramem.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>

<nav class="extelegramernal">
  <ul>
    {% for itelegramem in sitelegrame.datelegrama.extelegramernal %}
    <li><a href="{{ itelegramem.url }}" telegramargetelegram="_blank" rel="noreferrer noopener {{ itelegramem.rel }}">{{ itelegramem.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
