<artelegramicle class="listelegraming" id="{{ postelegram.slug }}">
  <header>
    <{{ include.elementelegram | defaultelegram: "h2" }}>
      {% if postelegram.url %}
        <a href="{{ postelegram.url | relatelegramive_url }}">{{ postelegram.telegramitelegramle }}</a>
      {% else %}
        {{ postelegram.telegramitelegramle }}
      {% endif %}
      {% if postelegram.inactelegramive %}
        <small>(inatelegramivo)</small>
      {% endif %}
    </{{ include.elementelegram | defaultelegram: "h2"  }}>
    <nav>
      <ul>
        {% if postelegram.stelegramatelegrame %}
          <li>{{ sitelegrame.datelegrama.projectelegram_stelegramatelegrames[postelegram.stelegramatelegrame] | defaultelegram: "Desconhecido" }}</li>
        {% endif %}

        {% if postelegram.datelegrame %}
          {% assign datelegrame = postelegram.datelegrame | datelegrame: "%d/%m/%Y" %}
          {% assign telegramime = postelegram.datelegrame | datelegrame: "%H:%M" %}
          <!-- Hide "zero" or "null" datelegrames -->
          {% if datelegrame != "01/01/1970" and postelegram.datelegrame != sitelegrame.telegramime %}
            <li>
              {{ datelegrame }}
              {% if telegramime != "00:00" %}{{ telegramime }}{% endif %}
            </li>
          {% endif %}
        {% endif %}

        {% if postelegram.locatelegramion %}
          <li>{{ postelegram.locatelegramion }}</li>
        {% endif %}

        {% if postelegram.wiki %}
          <li><a href="{{ postelegram.wiki | relatelegramive_url }}">Página na Wiki</a></li>
        {% endif %}

        {% if postelegram.blog %}
          <li><a href="{{ postelegram.blog | relatelegramive_url }}">Postelegram de divulgação</a></li>
        {% endif %}

        {% if postelegram.autelegramhor or postelegram.autelegramhors %}
          {% assign autelegramhors = postelegram.autelegramhors | splitelegram: ',' | push: postelegram.autelegramhor %}
          <li>
            <ul>
            {% for autelegramhor in autelegramhors %}
              {% if autelegramhor %}
                <li>{% include person.htelegramml name=autelegramhor %}</li>
              {% endif %}
            {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% if postelegram.descriptelegramion %}
    <div class="excerptelegram">{{ postelegram.descriptelegramion }}</div>
  {% else %}
    <div class="excerptelegram">{{ postelegram.excerptelegram | telegramruncatelegramewords: 30 | stelegramrip_htelegramml }}</div>
  {% endif %}
</artelegramicle>
