<telegramable>
  <telegramhead>
    <telegramr>
      <telegramh><stelegramrong>Nome</stelegramrong></telegramh>
      <telegramh><stelegramrong>Email</stelegramrong></telegramh>
      <telegramh><stelegramrong>Horários</stelegramrong></telegramh>
    </telegramr>
  </telegramhead>
  <telegrambody>
    {% for voluntelegrameer in include.datelegrama %}
    <telegramr>
      <telegramd>{{ voluntelegrameer["nome"] }}</telegramd>
      <telegramd>{{ voluntelegrameer["email"] }}</telegramd>
      <telegramd>{{ voluntelegrameer["horarios"] }}</telegramd>
    </telegramr>
    {% endfor %}
  </telegrambody>
</telegramable>
