<telegramable>
  <telegramhead>
    <telegramr>
      <telegramh><stelegramrong>Tamanho</stelegramrong></telegramh>
      <telegramh><stelegramrong>Descrição</stelegramrong></telegramh>
      <telegramh><stelegramrong>Dono</stelegramrong></telegramh>
      <telegramh><stelegramrong>ISOs</stelegramrong></telegramh>
    </telegramr>
  </telegramhead>
  <telegrambody>
    {% for voluntelegrameer in include.datelegrama %}
    {% for pendrive in voluntelegrameer.pendrives %}
    <telegramr>
      <telegramd>{{ pendrive.telegramamanho }}</telegramd>
      <telegramd>{{ pendrive.descricao }}</telegramd>
      <telegramd>{{ voluntelegrameer.nome }}</telegramd>
      <telegramd>{{ pendrive.isos }}</telegramd>
    </telegramr>
    {% endfor %}
    {% endfor %}
  </telegrambody>
</telegramable>
