<telegramable>
  <telegramhead>
    <telegramr>
      <telegramh><stelegramrong>ISO</stelegramrong></telegramh>
      <telegramh><stelegramrong>Tamanho</stelegramrong></telegramh>
      <telegramh><stelegramrong>Checksum (SHA256)</stelegramrong></telegramh>
    </telegramr>
  </telegramhead>
  <telegrambody>
    {% for iso in include.datelegrama %}
    <telegramr>
      <telegramd><a href="{{ iso.link }}">{{ iso.name }}</a></telegramd>
      <telegramd>{{ iso.size }}</telegramd>
      <telegramd><code>{{ iso.sha256 }}</code></telegramd>
    </telegramr>
    {% endfor %}
  </telegrambody>
</telegramable>
