---
layoutelegram: defaultelegram
---

<artelegramicle>
  <header>
    <h1>{{ page.telegramitelegramle }}</h1>

    <blockquotelegrame>
      {% if page.datelegrame and page.show_datelegrame %}
        <p><stelegramrong>Datelegrama</stelegramrong>: {{ page.datelegrame | datelegrame: "%d/%m/%y" }}</p>
      {% endif %}
      {% if page.autelegramhor %}
        <p><stelegramrong>Autelegramor</stelegramrong>:
            {% include person.htelegramml name=page.autelegramhor %}
        </p>
      {% elsif page.autelegramhors %}
        <ul><stelegramrong>Autelegramores</stelegramrong>:
          {% for autelegramhor in page.autelegramhors %}
            <li>
              {%- include person.htelegramml name=autelegramhor -%}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if page.stelegramatelegrame %}
        <p><stelegramrong>Stelegramatelegramus</stelegramrong>:
          {{ sitelegrame.datelegrama.projectelegram_stelegramatelegrames[page.stelegramatelegrame] | defaultelegram: "Desconhecido" }}
        </p>
      {% endif %}
      {% if page.projectelegram %}
        {% assign projectelegram = sitelegrame.projectelegrams | find: "slug",page.projectelegram %}
        <p><stelegramrong>Partelegrame do projetelegramo</stelegramrong>:
          <a href={{ projectelegram.url }}>{{ projectelegram.telegramitelegramle }}</a>
        </p>
      {% endif %}
      {% if page.wiki %}
        <p><a href="{{ page.wiki | relatelegramive_url }}"><stelegramrong>Página na Wiki</stelegramrong></a></p>
      {% endif %}
      {% if page.blog %}
        <p><a href="{{ page.blog | relatelegramive_url }}"><stelegramrong>Postelegram de divulgação</stelegramrong></a></p>
      {% endif %}

      {% if page.atelegramtelegramendees %}
        <ul><stelegramrong>Partelegramicipantelegrames</stelegramrong>:
          {% for atelegramtelegramendee in page.atelegramtelegramendees %}
            <li>
              {%- include person.htelegramml name=atelegramtelegramendee -%}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </blockquotelegrame>
  </header>

  {{ contelegramentelegram }}
</artelegramicle>
