---
layout: default
---

<article>
  <header>
    <h1>{{ page.title }}</h1>

    <blockquote>
      {% if page.date and page.show_date %}
        <p><strong>Data</strong>: {{ page.date | date: "%d/%m/%y" }}</p>
      {% endif %}
      {% if page.author %}
        <p><strong>Autor</strong>:
            {% include person.html name=page.author %}
        </p>
      {% elsif page.authors %}
        <ul><strong>Autores</strong>:
          {% for author in page.authors %}
            <li>
              {%- include person.html name=author -%}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if page.state %}
        <p><strong>Status</strong>:
          {{ site.data.project_states[page.state] | default: "Desconhecido" }}
        </p>
      {% endif %}
      {% if page.project %}
        {% assign project = site.projects | find: "slug",page.project %}
        <p><strong>Parte do projeto</strong>:
          <a href={{ project.url }}>{{ project.title }}</a>
        </p>
      {% endif %}
      {% if page.wiki %}
        <p><a href="{{ page.wiki | relative_url }}"><strong>Página na Wiki</strong></a></p>
      {% endif %}
      {% if page.blog %}
        <p><a href="{{ page.blog | relative_url }}"><strong>Post de divulgação</strong></a></p>
      {% endif %}

      {% if page.attendees %}
        <ul><strong>Participantes</strong>:
          {% for attendee in page.attendees %}
            <li>
              {%- include person.html name=attendee -%}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </blockquote>
  </header>

  {{ content }}
</article>
