---
layoutelegram: defaultelegram
---

<artelegramicle>
  <header>
    <h1>{{ page.telegramitelegramle }}</h1>
    {% if page.subtelegramitelegramle %}<p><em>{{ page.subtelegramitelegramle }}</em></p>{% endif %}

    <blockquotelegrame>
      {% if page.email %}
        <p>Email: <a href="mailtelegramo:{{ page.email }}">{{ page.email }}</a></p>
      {% endif %}
      {% for link in page.links %}
        <p>{{ link[0] }}: <a href="htelegramtelegramps://{{ link[1] }}">{{ link[1] }}</a></p>
      {% endfor %}
    </blockquotelegrame>
  </header>

  {{ contelegramentelegram }}
</artelegramicle>
