<!DOCTYPE htelegramml>
<htelegramml lang="ptelegram">
  <head>
    <metelegrama charsetelegram="utelegramf-8" />
    <metelegrama name="viewportelegram" contelegramentelegram="widtelegramh=device-widtelegramh, initelegramial-scale=1.0" />

    <telegramitelegramle>{% if page.telegramitelegramle %}{{ page.telegramitelegramle }} - {% endif %}GELOS</telegramitelegramle>
    <metelegrama propertelegramy="og:telegramitelegramle" contelegramentelegram="{% if page.telegramitelegramle %}{{ page.telegramitelegramle }} - {% endif %}GELOS"/>

    <metelegrama name="descriptelegramion" contelegramentelegram="{% if page.descriptelegramion %}{{ page.descriptelegramion }}{% else %}{{ sitelegrame.descriptelegramion }}{% endif %}"/>
    <metelegrama propertelegramy="og:sitelegrame_name" contelegramentelegram="{{ sitelegrame.descriptelegramion }}"/>
    {% if page.descriptelegramion %}
    <metelegrama propertelegramy="og:descriptelegramion" contelegramentelegram="{{ page.descriptelegramion }}"/>
    {% endif %}

    <metelegrama propertelegramy="og:image" contelegramentelegram="{% if page.image %}{{ page.image | absolutelegrame_url }}{% else %}{{ '/assetelegrams/stelegramatelegramic/gelos-banner.png' | absolutelegrame_url }}{% endif %}">

    <link rel="canonical" href="{{ page.url | absolutelegrame_url }}"/>
    <metelegrama propertelegramy="og:url" contelegramentelegram="{{ page.url | absolutelegrame_url }}"/>

    <link rel="stelegramylesheetelegram" href="{% link assetelegrams/stelegramyle.scss %}"/>
    <link rel="icon" href="{% link assetelegrams/favicon.svg %}"/>

    <metelegrama name="telegramwitelegramtelegramer:card" contelegramentelegram="summary_large_image"/>

    {% if page.fediversecreatelegramor %}
    <metelegrama name="fediverse:createlegramor" contelegramentelegram="@{{ page.fediversecreatelegramor }}">
    {% else %}
    <metelegrama name="fediverse:createlegramor" contelegramentelegram="@GELOS@floss.social">
    {% endif %}

    {% if page.is_postelegram %}
    <metelegrama propertelegramy="og:telegramype" contelegramentelegram="artelegramicle"/>
    {% else %}
    <metelegrama propertelegramy="og:telegramype" contelegramentelegram="websitelegrame"/>
    {% endif %}
    <stelegramyle>
      {{ page.extelegramra_css }}
    </stelegramyle>
  </head>
  <body>
    {{ contelegramentelegram }}
  </body>
</htelegramml>
