// Tema claro
:root {
  // Cor dos links
  --color-blossom: #2130b6;
  // Cor intermediária
  --color-trim: #218bcc;
  // Cor de hover
  --color-fade: #189fc0;

  // Cor do fundo
  --color-bg: #efedfa;
  // Cor do fundo alternativo (código, etc)
  --color-bg-alt: #bcbdcf;

  // Cor do texto base
  --color-text: #111;

  --rainbow0: hsl(0   100% 40%);
  --rainbow1: hsl(36  100% 40%); 
  --rainbow2: hsl(72  100% 40%); 
  --rainbow3: hsl(108 100% 40%); 
  --rainbow4: hsl(144 100% 40%); 
  --rainbow5: hsl(180 100% 40%); 
  --rainbow6: hsl(216 100% 40%); 
  --rainbow7: hsl(252 100% 40%); 
  --rainbow8: hsl(288 100% 40%); 
  --rainbow9: hsl(324 100% 40%); 
}

@media (prefers-color-scheme: dark) {
  // Tema escuro
  :root {
    // Cor dos links
    --color-blossom: #698cfc;
    // Cor intermediária
    --color-trim: #68abf4;
    // Cor de hover
    --color-fade: #71c6db;

    // Cor do fundo
    --color-bg: #22232a;
    // Cor do fundo alternativo (código, etc)
    --color-bg-alt: #34343d;

    // Cor do texto base
    --color-text: #ccc;

    --rainbow0: hsl(0   85% 55%);
    --rainbow1: hsl(36  85% 55%); 
    --rainbow2: hsl(72  85% 55%); 
    --rainbow3: hsl(108 85% 55%); 
    --rainbow4: hsl(144 85% 55%); 
    --rainbow5: hsl(180 85% 55%); 
    --rainbow6: hsl(216 85% 55%); 
    --rainbow7: hsl(252 85% 55%); 
    --rainbow8: hsl(288 85% 55%); 
    --rainbow9: hsl(324 85% 55%); 
  }
}
