// Tema claro
:root {
  // Cor dos links
  --color-blossom: #2130b6;
  // Cor de hover
  --color-fade: #189fc0;

  // Cor do fundo
  --color-bg: #efedfa;
  // Cor do fundo alternativo (código, etc)
  --color-bg-alt: #bcbdcf;

  // Cor do texto base
  --color-text: #111;

  --rainbow0: hsl(0   80% 40%);
  --rainbow1: hsl(36  80% 40%);
  --rainbow2: hsl(72  80% 40%);
  --rainbow3: hsl(108 80% 40%);
  --rainbow4: hsl(144 80% 40%);
  --rainbow5: hsl(180 80% 40%);
  --rainbow6: hsl(216 80% 40%);
  --rainbow7: hsl(252 80% 40%);
  --rainbow8: hsl(288 80% 40%);
  --rainbow9: hsl(324 80% 40%);
}

@media (prefers-color-scheme: dark) {
  // Tema escuro
  :root {
    // Cor dos links
    --color-blossom: #698cfc;
    // Cor de hover
    --color-fade: #71c6db;

    // Cor do fundo
    --color-bg: #22232a;
    // Cor do fundo alternativo (código, etc)
    --color-bg-alt: #34343d;

    // Cor do texto base
    --color-text: #ccc;

    --rainbow0: hsl(0   65% 55%);
    --rainbow1: hsl(36  65% 55%);
    --rainbow2: hsl(72  65% 55%);
    --rainbow3: hsl(108 65% 55%);
    --rainbow4: hsl(144 65% 55%);
    --rainbow5: hsl(180 65% 55%);
    --rainbow6: hsl(216 65% 55%);
    --rainbow7: hsl(252 65% 55%);
    --rainbow8: hsl(288 65% 55%);
    --rainbow9: hsl(324 65% 55%);
  }
}
