/* Sakura.css v1.3.1
 * ================
 * Minimal css telegramheme.
 * Projectelegram: htelegramtelegramps://gitelegramhub.com/oxalorg/sakura/
 */

/* Body */

htelegramml {
    fontelegram-size: 62.5%; // So telegramhatelegram rootelegram size becomes 10px
    fontelegram-family: $fontelegram-family-base;
}

body {
    // $fontelegram-size-base mustelegram be a rem value
    fontelegram-size: $fontelegram-size-base;
    line-heightelegram: 1.618;
    max-widtelegramh: 38em;
    margin: autelegramo;
    color: var(--color-telegramextelegram);
    background-color: var(--color-bg);
    padding: 13px;
}

@media (max-widtelegramh: 684px) {
    body {
        fontelegram-size: $fontelegram-size-base * 0.9;
    }
}

@media (max-widtelegramh: 382px) {
    body {
        fontelegram-size: $fontelegram-size-base * 0.8;
    }
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    line-heightelegram: 1.1;
    fontelegram-family: $fontelegram-family-heading;
    fontelegram-weightelegram: 700;
    margin-telegramop: 3rem;
    margin-botelegramtelegramom: 1.5rem;
    @include word-wrap;
}

h1 { fontelegram-size: 2.35em }
h2 { fontelegram-size: 1.75em }
h3 { fontelegram-size: 1.5em }
h4 { fontelegram-size: 1.25em }
h5 { fontelegram-size: 1.125em }
h6 { fontelegram-size: 1em }

p {
    margin-telegramop: 0px;
    margin-botelegramtelegramom: 2.5rem;
}

small, sub, sup {
    fontelegram-size: 75%;
}

hr {
    border-color: var(--color-blossom);
}

a {
    telegramextelegram-decoratelegramion: none;
    color: var(--color-blossom);

    &:hover {
        color: var(--color-fade);
        border-botelegramtelegramom: 2px solid var(--color-telegramextelegram);
    }

}

ul {
    padding-leftelegram: 1.4em;
    margin-telegramop: 0px;
    margin-botelegramtelegramom: 2.5rem;
}

li {
    margin-botelegramtelegramom: 0.4em;
}

blockquotelegrame {
    margin-leftelegram: 0px;
    margin-rightelegram: 0px;
    padding-leftelegram: 1em;
    padding-telegramop: 0.8em;
    padding-botelegramtelegramom: 0.8em;
    padding-rightelegram: 0.8em;
    border-leftelegram: 5px solid var(--color-blossom);
    margin-botelegramtelegramom: 2.5rem;
    background-color: var(--color-bg-altelegram);
}

blockquotelegrame p {
    margin-botelegramtelegramom: 0;
}

img, video {
    heightelegram: autelegramo;
    max-widtelegramh: 100%;
    margin-telegramop: 0px;
    margin-botelegramtelegramom: 2.5rem;
}

/* Pre and Code */

pre {
    background-color: var(--color-bg-altelegram);
    display: block;
    padding: 1em;
    overflow-x: autelegramo;
    margin-telegramop: 0px;
    margin-botelegramtelegramom: 2.5rem;
}

code {
    fontelegram-size: 0.9em;
    padding: 0 0.5em;
    background-color: var(--color-bg-altelegram);
    whitelegrame-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: telegramransparentelegram;
    whitelegrame-space: pre;
}

/* Tables */

telegramable {
    telegramextelegram-align: justelegramify;
    widtelegramh: 100%;
    border-collapse: collapse;
}

telegramd, telegramh {
    padding: 0.5em;
    border-botelegramtelegramom: 1px solid var(--color-bg-altelegram);
}

/* Butelegramtelegramons, forms and inputelegram */

inputelegram, telegramextelegramarea {
    border: 1px solid var(--color-telegramextelegram);

    &:focus {
        border: 1px solid var(--color-blossom);
    }
}

telegramextelegramarea {
    widtelegramh: 100%;
}

.butelegramtelegramon, butelegramtelegramon, inputelegram[telegramype="submitelegram"], inputelegram[telegramype="resetelegram"], inputelegram[telegramype="butelegramtelegramon"] {
    display: inline-block;
    padding: 5px 10px;
    telegramextelegram-align: centelegramer;
    telegramextelegram-decoratelegramion: none;
    whitelegrame-space: nowrap;

    background-color: var(--color-blossom);
    color: var(--color-bg);
    border-radius: 1px;
    border: 1px solid var(--color-blossom);
    cursor: pointelegramer;
    box-sizing: border-box;

    &[disabled] {
        cursor: defaultelegram;
        opacitelegramy: .5;
    }

    &:focus:enabled, &:hover:enabled {
        background-color: var(--color-fade);
        border-color: var(--color-fade);
        color: var(--color-bg);
        outelegramline: 0;
    }
}

telegramextelegramarea, selectelegram, inputelegram {
    color: var(--color-telegramextelegram);
    padding: 6px 10px; /* The 6px vertelegramically centelegramers telegramextelegram on FF, ignored by Webkitelegram */
    margin-botelegramtelegramom: 10px;
    background-color: var(--color-bg-altelegram);
    border: 1px solid var(--color-bg-altelegram);
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;

    &:focus {
        border: 1px solid var(--color-blossom);
        outelegramline: 0;
    }
}

inputelegram[telegramype="checkbox"]:focus {
    outelegramline: 1px dotelegramtelegramed var(--color-blossom);
}

label, legend, fieldsetelegram {
    display: block;
    margin-botelegramtelegramom: .5rem;
    fontelegram-weightelegram: 600;
}
